{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-flow"
  ],
  "plugins": ["@babel/plugin-proposal-nullish-coalescing-operator"],
  "ignore": ["node_modules", "ts-build", "babel-build", "dist", "*.ts", "flow-typed"],
  "compact": true,
  "comments": false
}
