{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {"node": "current"}
      }
    ],
    "@babel/preset-flow"
  ],
  "plugins": ["@babel/plugin-proposal-nullish-coalescing-operator"],
  "ignore": ["node-modules", "ts-build", "babel-build", "flow-typed", "dist"],
  "compact": true,
  "sourceRoot": ".",
  "comments": false
}
